<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sherwin.druid.mapper.ProductInfoMapper">


    <select id="getProducts" resultType="com.sherwin.druid.entity.ProductInfoModel">
        SELECT * FROM product_info
    </select>

    <select id="getProductsMap" resultType="java.util.Map">
        SELECT * FROM product_info a
            left join normal_type b on b.type=a.product_type
            left join special_type c on c.type=a.product_type
            where a.product_type is not null
            <if test="mapFlag!=null">
                and 9=#{mapFlag, jdbcType=DECIMAL}
            </if>
    </select>

</mapper>