<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Druid Demo</title>
</head>
<body>
<table>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>说明</th>
        <th>成本</th>
        <th>价格</th>
        <th>类型</th>
        <th>类型描述</th>
    </tr>

    <tr th:each="item : ${products}">
        <td th:text=${item.product_code}></td>
        <td th:text=${item.product_name}></td>
        <td th:text=${item.product_description}></td>
        <td th:text=${item.cost}></td>
        <td th:text=${item.price}></td>
        <td th:text=${item.product_type}></td>
        <td th:text=${item.description}></td>
    </tr>
    </c:forEach>

</table>
</body>
</html>